<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">
  <h1>
    Welcome to <br> {{ title }}!
    
  </h1>
</div>

<br>
<div class="container">

<!-- <nav class = "row">
<a routerLink="/addreport" class="btn btn-default col-md-3">Add Report</a>
<a routerLink="/patientlist" class="btn btn-default col-md-3">View Patient List</a>
<a routerLink="/reportlist" class="btn btn-default col-md-3">View Medical Report List</a>

</nav> -->
<br>

<router-outlet></router-outlet>

</div>

