<nav class = "row">
    <a routerLink="/addreport" class="btn btn-default col-md-3">Add Report</a>
    <a routerLink="/patientlist" class="btn btn-default col-md-3">View Patient List</a>
    <a routerLink="/reportlist" class="btn btn-default col-md-3">View Medical Report List</a>
</nav>

<h2>List of Patients</h2>
<br>
<table class="table table-striped table-hover">
    <tr>
        <th >Patient ID</th>
        <th >Patient Name</th>
        <th >Date Of Birth</th>
        <th >Blood Group</th>
        <th >Sex</th>
        <th >Action</th>
    </tr>

    <tr *ngFor="let patientItem of patientItems" 
    patient [patientItem]="patientItem"
    (delete)="onPatientDelete($event)"
    (edit)="onPatientEdit($event)"
    (showReport)="onPatientShowReport($event)"></tr>
</table>
